:root {
    --color1: red;
    --color2: blue;
    --color3: green;

    --radius: 8px;
}

/*

<svg class="icon">
  <use xlink:href="#logo"></use>
</svg>

<svg class="icon">
  <use xlink:href="#x"></use>
</svg>

<svg class="icon">
  <use xlink:href="#inst"></use>
</svg>

<svg class="icon">
  <use xlink:href="#vk"></use>
</svg>

<svg class="icon">
  <use xlink:href="#tg"></use>
</svg>

*/ 